{% extends "base.html" %}

{% block content %}

<div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
          <a href="#" class="list-group-item">Корзина</a>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          <div class="row">
              {% for item in news %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="./news/{{item.id}}">{{item.title}}</a>
                </h4>
                <p class="card-text">{{item.content}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{item.created_date}}</small>
              </div>
            </div>
          </div>
              {%endfor%}
          </div>
      </div>
</div>
{% endblock %}